.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display: inline-block
  padding: 0.1rem 1.6rem
  color: $text
  background-color: $primary
  border: none
  text-align: center
  font-size: 1.6rem
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  border-radius: 1rem
  cursor: pointer
  box-sizing: border-box
